<html>
    <head>

    </head>
    <body>
    <div><h2>GoodVibes:</h2> <a href="/index">Home</a>
            <a href="/artist_list">List of Artist</a></div>
            <a href="/create_artist">Add Artist</a></div>
        <hr>

        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

    </body>
</html>
