<html>
    <head>

    </head>
    <body>
    <div>
        <h2>GoodVibes:</h2>
         <a href="{{ url_for('index') }}">Home</a>
         <a href="{{ url_for('artist_list') }}">List of Artist</a>
         <a href="{{ url_for('create_artist') }}">Add Artist</a>

    </div>
        <hr>

        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>x
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

        </body>
</html>
