{% extends "base.html" %}

{% block content %}
    <h1> Artist :<b>{{ artists.name }}</b></h1>
    <hr>
    <h2>Biography:</h2>
        <p>
            {{ artists.bio }}
                   </p>
    <hr>
    <h2>Hometown</h2>
        <p>
            {{ artists.hometown }}
        </p>
    <hr>
    <h2>Upcoming Events:</h2>
    <ul>
{#        {% for artist in artists %}#}
          <li>{{ artists.event1}}</li>
          <li>{{ artists.event2 }}</li>
          <li>{{ artists.event3 }}</li>
{#        {% endfor %}#}
    </ul>
{% endblock %}